
  <p style="color:chocolate;padding: 4px;position: relative;">
    For any issue or concern Please mail at <a href="mailto:annad.pratik141@gmail.com">anandpratik141@gmail.com</a></p
    
<footer>
   <div style="
      padding: 15px 0px 10px 450px;
      border: 1px solid;border-color: #052909;
            background-color: rgb(0, 150, 213);">

      |<a href="/" style="color: white;"> Home </a>|
      <a href="/filelist/" style="color: white;"> List </a>|
      <a href="/getfile/" style="color: white;"> Getfile </a>|
  </div>
</footer>
